@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    color: black;
    background-color: white;
    font-family: 'Ubuntu',
        sans-serif;
    margin-bottom: 20px;
}

.label {
    font-weight: 900;
}

span {
    font-weight: initial;
    color: black;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;


}



.sql {
    align-items: center;
}

#header{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-top: 2rem;
}


#home {
    text-decoration: none;
    color: #570563;
    font-size: 1.3rem;
    font-weight: 900;
    /* position: absolute;
    top: 50px;
    left: 100px; */
    outline: 2px solid #570563;
    outline-offset: 3px;

}


h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin-top: 40px;
    margin-bottom: 20px; */
     color: #570563;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-decoration: underline;
    -webkit-text-stroke: 1px;
    color: #570563;
    -webkit-text-fill-color: rgba(128, 128, 128, 0.342);
}

p {
    margin-left: 20px;
    /* word-wrap: break-word; */
    padding-bottom: 5px;
    padding-top: 5px;
    color: black;
    font-size: 1rem;
    max-width: 300px;
    /* word-wrap: break-word; */

}


.scan-details1:hover {
    color: rgba(13, 89, 231, 0.76);

}

.scan-details1 {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.904);
}

.payloads-tried,
.scan-details {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.904);
}

.payloads-tried:hover,
.scan-details:hover {
    color: rgba(13, 89, 231, 0.76);

}



.scan-logs,
.payloads,
.test-logs,
.recom,
.recom1 {
    /* visibility: hidden; */
    display: none;
}


.rec,
.rec1 {
    display: none;

}

.active {
    display: initial;
}

.recomp {
    font-weight: 900;
}

.reco:hover,
.reco1:hover {
    color: rgba(13, 89, 231, 0.76);

}

.reco,
.reco1 {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.904);
}

