<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 | Page Not Found</title>
    <link
      rel="stylesheet"
      href="../static/libraries/halfmoon/css/halfmoon.min.css"
    />
    <script
      defer
      src="../static/libraries/halfmoon/js/halfmoon.min.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <div style="text-align: center">
        <h4
          style="font-weight: bolder; font-size: 10rem; color: #570563"
          class="text-center"
        >
          404
        </h4>
        <p style="font-size: 2rem" class="text-center">
          It seems like you've lost your way.
        </p>
        <a class="btn btn-primary" href="/">Go Back Home</a>
      </div>
    </div>
  </body>
</html>
