<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQL Injection Scanner</title>
    <script src="../static/js/index.js" defer></script>
    <link rel="stylesheet" href="../static/css/index.css" />
    <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
    <!-- <link
      rel="stylesheet"
      href="../static/libraries/halfmoon/css/halfmoon.min.css"
    /> -->
  </head>
  <body>
    <section>
      <div class="title-con">
        <p class="title">Website Vulnerability Scanner</p>
        <p style="color: black">
          Scan your Website for SQL Injection and Cross-Site Scripting
        </p>
      </div>

      <div id="others">
        <div class="form-con">
          <form method="POST" action="">
            <div id="form-con">
              <div class="url-con">
                <input
                  type="url"
                  name="url"
                  placeholder="Enter Website URL"
                  id="url"
                  required="required"
                />
              </div>
              <div class="submit">
                <input type="submit" id="submit" value="SCAN" />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="flex_con">
        <a class="btn_1" href="/register">Register</a>
        <a class="btn_2" href="/login">Login</a>
      </div>
    </section>
    <!-- <script src="../static/libraries/halfmoon/js/halfmoon.min.js"></script> -->
  </body>
</html>
